@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

* {
  color: #2b283a;
  font-family: "Inter", sans-serif;
  font-size: 10.24px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

/* navbar component css */
.navbar-component {
  align-items: center;
  background-color: #f55a5a;
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 55px;
  text-align: center;
}

.journal-title {
  color: white;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.5px;
  padding-left: 7px;
}

/* overall container */
.container {
  margin: 0 auto;
  max-width: 600px;
  padding-top: 15px;
}

/* journal card component css */
.card-section {
  border-bottom: 1px solid #f5f5f5;
  display: flex;
  flex-direction: column;
  padding: 18px;
}

.image-section {
  text-align: center;
}

.location-img {
  border-radius: 5px;
  height: 168px;
  max-width: 400px;
  object-fit: cover;
  width: 100%;
}

.main-section {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-top: 20px;
}

.location-section {
  display: flex;
  flex-direction: row;
}

.location-pin {
  margin-top: 6px;
}

.location-country {
  letter-spacing: 0.17em;
  padding-left: 4px;
  text-transform: uppercase;
}

.maps-link {
  color: #918e9b;
  line-height: 12px;
  padding-left: 12px;
  text-decoration: underline;
}

.location-title {
  font-size: 25px;
  font-weight: 700;
}

.location-date {
  font-weight: 700;
}

.location-description {
  line-height: 1.9rem;
}

/* media queries for 399px and above*/
@media only screen and (min-width: 399px) {
  .main-section {
    padding-left: 30px;
  }

  .card-section {
    flex-direction: row;
  }

  .location-img {
    width: 125px;
  }

  .container {
    padding-top: 45px;
  }
}
